<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Applications</title>
 <link rel="stylesheet" href="../css/positionApplication.css">
</head>
<body>
  <div class="sidebar">
    <% if (role === 'Employer') { %>
      <a href="/positions/create">Create Positions</a>
      <a href="/dashboard">Listed Positions</a>
      <a href="/applications">Applications</a>
    <% } else if (role === 'JobSeeker') { %>
      <a href="/positions/all">Browse Positions</a>
      <a href="/positions/applications">My Applications</a>
    <% } %>
    <a href="/logout" class="logout-button">Logout</a>
  </div>
  <div class="content">
    <h1>Applications</h1>
    <ul class="application-list">
      <% applications.forEach(application => { %>
        <li>
          <h3>Position Title: <%= application.position.positionTitle %></h3>
          <p><strong>Position Details:</strong> <%= application.position.positionDetails %></p>
          <p><strong>Application Date:</strong> <%= new Date(application.appliedAt).toLocaleDateString() %></p>
          <p><strong>Status:</strong> <%= application.applicationStatus %></p>
        </li>
      <% }) %>
    </ul>
  </div>
</body>
</html>

